/* COMMON START */
body {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  /* 줄간 */
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 
 * img 요소는 베이스라인을 가지고 있어서 아래에 공간이있다.
 * 이를 없에기 위해 block요소로 변경
*/
img {
  display: block;
}

/* 파란 밑줄 제거  */
a {
  text-decoration: none;
}

/* 가운데정렬용 공통 class  */
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333
}

.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}

.btn.btn--gold {
  color: #D9AABA;
  border-color: #D9AABA;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #D9AABA;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translate(0px)
}

.show .back-to-position.delay-0 {
  transition-delay: 0;
}

.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/* COMMON END */

/* BODY HEADER START*/
/* BODY 안에 HEADER 영역 지정 */
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}

/* 높이 지정 */
header>.inner {
  height: 120px;
}

/* Logo */
header .logo {
  /* 실제 크기가 지정되어있어야 margin을 통해 가운데 정렬 가능 */
  height: 75px;
  width: 75px;
  /* 부모요소내부에 top bottom 위치를 지정한 다음  margin으로 가운데 정렬 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* submenu */
header .sub-menu {
  position: absolute;
  display: flex;
  top: 10px;
  right: 0;
}

/* submenu 하위 컨텐츠 */
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {}

/* submenu 하위 컨텐츠 맨앞쪽에 삽선 안함 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}

/* submenu 하위 컨텐츠 앞쪽에 삽선 */
header .sub-menu ul.menu li::before {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* submenu 하위 컨텐츠 텍스트 스타일  */
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

/* submenu 하위 컨텐츠 hover 텍스트 스타일 */
header .sub-menu ul.menu li a:hover {
  color: #000
}

/* submenu 하위 검색창 */
header .sub-menu .search {
  height: 34px;
  position: relative;
}

/* submenu 하위 검색창 스타일 */
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}

/* submenu 하위 검색창 focus 일때 스타일 */
header .sub-menu .search input:focus {
  width: 120px;
  border-color: #669900;

}

/* submenu 하위 검색창 icon style*/
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

/* submenu 하위 검색창 focus 일시 아이콘 투명도*/
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* mainMenu  */
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

/* mainMenu 하위 매뉴*/
header .main-menu .item {}

/* mainMenu 하위 매뉴 이름 스타일 */
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* mainMenu 하위 매뉴 hover 일때 이름 스타일 */
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 2px 2px 0 0;
}

/* mainMenu 하위 매뉴 컨텐츠*/
header .main-menu .item .item__contents {
  /* 뷰포트 기준으로 */
  position: fixed;
  /* 너비 100% */
  width: 100%;
  right: 0;
  display: none;
}

/* mainMenu 하위 매뉴 hover 시 메뉴 컨텐츠*/
header .main-menu .item:hover .item__contents {
  /* 뷰포트 기준으로 */
  display: block
}

/* mainMenu 하위 매뉴 컨텐츠 하위 메뉴*/
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

/* mainMenu 하위 매뉴 컨텐츠 하위 메뉴 바로 자식에 해당하는 ul 테그 */
header .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  padding: 20px 0;
}

/*  mainMenu 하위 매뉴 컨텐츠 하위 메뉴 바로 자식에 해당하는 ul 테그의 바로 자식에 해당하는 li테그 */
header .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px
}

/* mainMenu 하위 매뉴 컨텐츠 하위 메뉴 바로 자식에 해당하는 ul 테그의 바로 자식에 해당하는 li테그 내부 h4 */
header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0px;
  font-size: 14px;
  color: #fff;
}

/* mainMenu 하위 매뉴 컨텐츠 하위 메뉴 바로 자식에 해당하는 ul 테그의 바로 자식에 해당하는 li테그 내부 li */
header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;

}

/* mainMenu 하위 매뉴 컨텐츠 하위 메뉴 바로 자식에 해당하는 ul 테그의 바로 자식에 해당하는 li테그 내부 li hover일때 글자색 */
header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900
}

/* mainMenu 하위 매뉴 컨텐츠 두번째 하위 메뉴 */
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}

/* mainMenu 하위 매뉴 컨텐츠 두번째 하위 메뉴 하위 h4*/
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;


}

/* mainMenu 하위 매뉴 컨텐츠 두번째 하위 메뉴 하위 p*/
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
  transition: 1s;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url('../images/visual_bg.jpg');
  background-position: center;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0px;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0px;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon.image {
  position: absolute;
  bottom: 0px;
  left: 275px;
}

.visual .fade-in {
  opacity: 0;
}

/* NOTICE */
.notice {}

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner .inner__left {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
}

.notice .notice-line .inner .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner .inner__left .swiper {
  /* 최대한으로 늘림 */
  flex-grow: 1;
  height: 62px;
}

.notice .notice-line .inner .inner__left .swiper-slide {
  /* 최대한으로 늘림 */
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner .inner__left .swiper-slide a {
  color: #fff;
}

.notice .notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner .inner__right {
  display: flex;
  width: 60%;
  height: 100%;
  /* 오른쪽 끝에서 정렬 */
  justify-content: flex-end;
  align-items: center;
}

.notice .notice-line .inner .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner .inner__right .toggle_promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.notice .notice-line .inner .inner__right .toggle_promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}

.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  /* 항상 정가운데에 위치하기위해 */
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url('/src/metarials/images/promotion_slide_pager.png');
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url('/src/metarials/images/promotion_slide_pager_on.png');
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px
}

.material-icons {}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 24px;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;
}


.rewards .inner {
  background-image: url('/src/metarials/images/rewards.jpg');
  height: 241px;
}

/* YOUTUBE */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}

.youtube .youtube__area {
  width: 1920px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
  margin-left: calc(1920px/ -2);

}

/* 이미지처리를 위한 가상요소 */
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.youtube .youtube__cover {
  background-image: url('/src/metarials/images/video_cover_pattern.png');
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}


/* SEASON-PRODUCT */
.season-product {
  background-image: url('/src/metarials/images/season_product_bg.jpg');

}

.season-product .inner {
  height: 400px;
}

.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}

.season-product .text-group .title {
  margin-bottom: 10px;
}

.season-product .text-group .description {
  margin-bottom: 10px;

}

.season-product .text-group .more {}

/* RESERVE COFFEE */

.reserve-coffee {
  background-image: url('/src/metarials/images/reserve_bg.jpg');
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* pick-your-favorite */
.pick-your-favorite {
  background-image: url('/src/metarials/images/favorite_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  margin-left: 100px;
  display: flex;
  width: 362px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}

/* RESERVE STORE */
.reserve-store {
  background-image: url('/src/metarials/images/reserve_store_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.reserve-store .medal {
  width: 334px;
  height: 334px;
}

.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  /* 뒤집으면 안보임 */
  backface-visibility: hidden;
  transition: 1s;
  perspective: 300px;
  position: absolute;
}

.reserve-store .medal .front {
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front {

  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  /* 뒤집기 */
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back {
  /* 뒤집기 */
  transform: rotateY(0deg);

}

.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* FIND STORE */
.find-store {
  background-image: url('/src/metarials/images/find_store_bg.jpg');
}

.find-store .inner {
  height: 400px;
}

.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .picture {
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

.find-store .picture1 {
  top: -60px;
  left: 0;

}

.find-store .picture2 {
  top: 150px;
  left: 250px;
}

.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}

.find-store .text-group .title {
  margin-bottom: 20px;
}

.find-store .text-group .description {
  margin-bottom: 20px;
}

.awards {
  background-color: #272727;
}

.awards .inner{
  padding :40px 0;
}

.awards .swiper {
  width: 100%;
  height: 40px;
}

.awards .swiper-prev,
.awards .swiper-next {
  width : 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline:none;
  color:#fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.awards .swiper-prev{
  left: -100px;
}

.awards .swiper-next {
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}